.singlemovie {
    display: flex;
    background-color: black;
   justify-content: center;
   &__image {
       width: 100%;
    object-fit: cover;
    object-position: top;
}
    &__infobox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    background-color: rebeccapurple;
    padding-left: 2rem;
    padding-right: 2rem;
   }
   &__title {
    font-size: 3rem;
   }
   &__language {
    font-weight: bold;
    text-transform: uppercase;
   }
   &__genre {
    font-weight: bold;

   }
   &__rating {
    font-size: 2em ;
    font-weight: bold;
   }
   &__year {
    font-weight: bold;
   }
   &__plot {
    font-style: italic;
   }
   &__btn {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 10px ;
    margin-bottom: 50px;
    border-radius: 20px;
    text-decoration: none;
   }
}

@media only screen and (max-width: 800px) {
    .singlemovie {
        flex-direction: column;
        background-color: white;

        &__infobox {
            gap: 30px;
            padding-right: 2rem;
        }
        &__image {
            gap: 10px;
        }
    }
}
